apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

namePrefix: world-state-

commonLabels:
  app: world-state
  service: world-state

resources:
- ../base

images:
- name: service
  newName: ghcr.io/CHANGEME/world-state
  newTag: latest

patches:
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 2
    - op: replace
      path: /spec/template/spec/containers/0/resources/requests/memory
      value: "256Mi"
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/memory
      value: "1Gi"
    - op: replace
      path: /spec/template/spec/containers/0/resources/requests/cpu
      value: "200m"
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/cpu
      value: "1000m"
  target:
    kind: Deployment

configMapGenerator:
- name: service-config
  behavior: merge
  literals:
  - SERVICE_NAME=world-state
  - ENABLE_PERSISTENCE=true
